body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(241, 241, 241);
  min-width: 350px;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 767px;
}

::-webkit-scrollbar {
  width: 0px;
}
